.trip {
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.trip h1 {
    font-style: 3rem;
    
}

.tripCard{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.tCard{
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0,0,0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    
}

.tImage {
    height: 300px;  
    overflow: hidden;
    border-radius: 7px;
    
}

.tImage img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    
    transition: 0.3s ease-in-out;
}

.tImage:hover img {
    transform: scale(1.3);
}